<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gunschu.jitsi_meet">
    <application>
        <activity
            android:name=".JitsiMeetPluginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:fitsSystemWindows="true"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize">
            <layout android:defaultHeight="300dp"
                android:defaultWidth="300dp"
                android:gravity="top|end"/>
        </activity>
    </application>
</manifest>
